/* Tippy theme to use styling from Home Assistant theme */
.tippy-box[data-theme~=homeassistant] {
	color: var(--primary-text-color);
	border-radius: var(--ha-card-border-radius, 4px);
    box-shadow: inset 0px 0px 0px 5px var(--primary-text-color, black);
	background-color: var(--ha-card-background, var(--card-background-color, var(--paper-card-background-color, white)));
	z-index: 1000 !important;
}

.tippy-box[data-theme~=homeassistant][data-placement^=top]>.tippy-arrow:before {
	border-top-color: var(--primary-text-color, black);
}

.tippy-box[data-theme~=homeassistant][data-placement^=bottom]>.tippy-arrow:before {
	border-bottom-color: var(--primary-text-color, black);
}

.tippy-box[data-theme~=homeassistant][data-placement^=left]>.tippy-arrow:before {
	border-left-color: var(--primary-text-color, black);
}

.tippy-box[data-theme~=homeassistant][data-placement^=right]>.tippy-arrow:before {
	border-right-color: var(--primary-text-color, black);
}

.tippy-box[data-theme~=homeassistant]>.tippy-backdrop {
	background-color: var(--ha-card-background, var(--card-background-color, var(--paper-card-background-color, white)));
}

.tippy-box[data-theme~=homeassistant]>.tippy-svg-arrow {
	fill: var(--ha-card-background, var(--card-background-color, var(--paper-card-background-color, white)));
}
